<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/index.css">
    <title>Accueil</title>
</head>
<body>
<div class="left">

    <!-- Add task form -->
    <h2>Add a task</h2>
    <form method="post" action="/insert">
      <label for="Task">Name :</label>
      <input type="text" name="Task" placeholder="Enter your task name" id="Task" required>
      <br>
      <label for="Date">Date :</label>
      <input type="date" name="date" id="Date">
      <br>
      <input type="submit" name="add_task" value="Create task">
    </form>

    <!-- Delete task form -->
    <h2>Delete a task</h2>
    <form method="post" action="/delete">
      <label for="ID">ID :</label>
      <input type="text" name="id" placeholder="Enter your task ID" id="id" required>
      <br>
      <input type="submit" name="delete_task" value="Delete task">
    </form>

    <!-- Update task form -->
    <h2>Update a task</h2>
    <form method="post" action="/update">
        <label for="ID">ID :</label>
        <input type="text" name="id" placeholder="Enter your task ID" id="id" required>
        <br>
        <label for="Task">Name :</label>
        <input type="text" name="Task" placeholder="Enter your task name" id="Task">
        <br>
        <label for="Date">Date :</label>
        <input type="date" name="Date" id="Date">
        <br>
        <label for="Complete">Complete :</label>
        <input type="checkbox" name="Complete" id="Complete">
        <br>
        <input type="submit" name="update_task" value="Update task">
    </form>

{% if message %}
    <p><strong>{{ message }}</strong></p>
{% endif %}
</div>


<hr>



<div class="right">
    <h2>Tasks</h2>
    <table>

        <thead>
            <tr>
                <th>ID</th>
                <th>Task</th>
                <th>Deadline</th>
                <th>Complete</th>
            </tr>
        </thead>

        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.task }}</td>
                    <td>{{ task.due }}</td>
                    <td>{{ task.complete }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

    <form method="post" action="/exportcsv">
        <input name="export_csv" type="submit" value="Export to CSV">
    </form>

    <form method="post" action="/importcsv" enctype="multipart/form-data">
        <input type="file" name="csv_file">
        <button type="submit">Import CSV</button>
    </form>

</div>

</body>
</html>