<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Accueil</title>
</head>
<body>
<div class="left">

    <!-- Add task form -->
    <h2>Add a task</h2>
    <form method="POST" action="/insert">
        {{ insert_form.csrf_token }}
        {{ insert_form.insert_task.label }}
        {{ insert_form.insert_task(size=20, placeholder="Enter your task name") }}
        <br>
        {{ insert_form.insert_date.label }}
        {{ insert_form.insert_date(type="date") }}
    <br>
    <input type="submit" name="add_task" value="Create task">
    </form>


    <!-- Delete task form -->
    <h2>Delete a task</h2>
    <form method="post" action="/delete">
      <label for="ID">ID :</label>
      <input type="text" name="id" placeholder="Enter your task ID" id="ID_delete" required>
      <br>
      <input type="submit" name="delete_task" value="Delete task">
    </form>

    <!-- Update task form -->
    <h2>Update a task</h2>
    <form method="post" action="/update">
        {{ update_form.csrf_token }}
        {{ update_form.ID_update  }}
        <br>
        {{ update_form.update_task.label }}
        {{ update_form.update_task(size=20, placeholder="Enter your task name") }}
        <br>
        {{ update_form.update_date.label }}
        {{ update_form.update_date(type="date") }}
        <br>
        {{ update_form.complete.label }}
        {{ update_form.complete(type="checkbox") }}
        <br>
        <input type="submit" name="update_task" value="Update task">
    </form>


    <form method="post" action="/delete_all">
        <input name="delete_all" type="submit" value="Delete all task">
    </form>

{% if message %}
    <p><strong>{{ message }}</strong></p>
{% endif %}
</div>


<hr>



<div class="right">
    <h2>Tasks</h2>
    <table>

        <thead>
            <tr>
                <th>ID</th>
                <th>Task</th>
                <th>Deadline</th>
                <th>Complete</th>
                <th>Select a task</th>
            </tr>
        </thead>

        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.task }}</td>
                    <td>{{ task.due }}</td>
                    <td>{{ task.complete }}</td>
                    <td><input type="checkbox" name="Select_task" class="select-checkbox" data-task-id="{{ task.id }}"></td>
                </tr>
            {% endfor %}
        </tbody>

    </table>


    <form method="post" action="/exportcsv">
        <input name="export_csv" type="submit" value="Export to CSV">
    </form>

    <form method="post" action="/importcsv" enctype="multipart/form-data">
        <input type="file" name="csv_file">
        <br>
        <br>
        <button type="submit">Import CSV</button>
    </form>

</div>
<script src="../static/js/script.js"></script>
</body>
</html>