<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
  <h1 style="text-align: center">Accueil</h1>

  <form method="post">
    <label for="Task">Name :</label>
    <input type="text" name="Task" placeholder="Enter your task name" id="Task" required>
    <br>
    <label for="Date">Date :</label>
    <input type="date" name="date" id="Date">
    <br>
    <input type="submit" value="Create ticket">
  </form>

{% if task %}
  <h3>Task name: {{ task }}</h3>
{% endif %}

{% if due %}
  <h3>Deadline: {{ due }}</h3>
{% endif %}

{% if not task and not due %}
  <h3>No tickets</h3>
{% endif %}

{% if message %}
  <p>{{ message }}</p>
{% endif %}

</body>
</html>